[submodule "ggml"]
path = ggml
url = https://github.com/ggerganov/ggml.git
ref = 5834509ee377c8eb49f30b9c82e87950afc55507
branch = master

[submodule "tokenizers-cpp"]
path = tokenizers-cpp
url = https://github.com/mlc-ai/tokenizers-cpp.git
branch = main
ref = e47442f1aa766c27f17444218783ba1903890ba9
